#kk-debug-hide, #kk-debug-show{
	position: absolute;
	top: 21px;
	left: 10px;
	z-index: 9999;
}

body.kk-debug-open {
	overflow: hidden;
}

#kk-debug-content, #kk-debug-content * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#kk-debug-content {
	background: rgba(255, 255, 255, 0.95);
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 85px 20px 20px 20px;
	overflow-y: auto;
	z-index: 99999;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	line-height: 22px;
	top: -100%;
	opacity: 0;
	transition: opacity 600ms 500ms;
}

.kk-debug-open #kk-debug-content {
	transition: opacity 600ms;
	pointer-events: all;
	opacity: 1;
	top: 0;
}

#kk-debug-content .kk-debug-search {
	position: fixed;
	padding: 0;
	left: 0;
	background: rgb(250, 241, 225);
	background: linear-gradient(rgb(253, 242, 223), rgb(245, 228, 197));
	border-bottom: 1px solid rgb(214, 189, 141);
	width: 100%;
	z-index: 1;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	text-align: center;
	height: 65px;
	top: -80px;
	opacity: 0;
	pointer-events: none;
	transition: top 500ms, opacity 300ms 200ms;
}

.kk-debug-open #kk-debug-content .kk-debug-search {
	transition: top 500ms 600ms, opacity 300ms 600ms;
	pointer-events: all;
	opacity: 1;
	top: 0;
}

.kk-debug-heading { font-weight: bold; cursor: pointer; }

.kk-debug-heading:hover { text-decoration: underline; }

.empty > .kk-debug-heading:hover { text-decoration: none; }

.empty > .kk-debug-heading { cursor: default; }

#kk-debug-content ul,
.kk-debug-wrapper
{ padding-left: 20px; }

.kk-debug-details,
.kk-debug-details.expandable,
.kk-debug-wrapper { }

.kk-found-element { display: inline; color: red; }

ul.kk-found-parent, ul.kk-found-parent > .kk-debug-wrapper { display: block; }

.kk-debug-details.expandable.kk-found-parent {
	display: list-item;
	list-style: none;
}

li.kk-found-parent {
	display: list-item;
	list-style: none;
}

#kk-debug-content-toggle { cursor: pointer; }

.kk-debug-details.level-0 {
	display: list-item;
	list-style: none;
}

.kk-debug-details.click-parent,
.kk-debug-details-expandable.click-parent,
.click-parent .kk-debug-details,
.click-parent .kk-debug-details.expandable { display: list-item; list-style: none; }

.click-parent > .kk-debug-wrapper { display: block; }

#kk-debug-content #kk-debug-searchbox {
	padding: 5px 10px !important;
	margin: 15px;
	height: 35px;
	line-height: 21px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 31px;
	width: 300px;
	border: 1px solid rgb(219, 199, 161);
	transition: border-color 200ms;
}

#kk-debug-content #kk-debug-searchbox:focus {
	border-color: rgb(106, 180, 240);
}

#kk-debug-content .kk-debug-heading {
	cursor: pointer;
	padding: 0 5px 0 26px;
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

#kk-debug-content .kk-debug-heading:hover {
	background: #efefef;
	text-decoration: none;
}

#kk-debug-content .expandable > .kk-debug-heading {
	padding-left: 5px;
}

#kk-debug-content .kk-debug-path {
	font-weight: normal;
	float: right;
	opacity: 0.7;
	font-size: 0.9em;
}

#kk-debug-content .kk-debug-path::selection {
	background: rgb(119, 42, 156);
	color: white;
	font-weight: bold;
}

#kk-debug-content .kk-debug-path::-moz-selection {
	background: rgb(119, 42, 156);
	color: white;
	font-weight: bold;
}

#kk-debug-content .expandable > .kk-debug-heading:before {
	content: '+';
	font-family: monospace;
	margin-left: 0;
	margin-right: 8px;
	background: #eee;
	display: inline-block;
	width: 13px;
	height: 13px;
	line-height: 14px;
	text-align: center;
	color: #666;
}

#kk-debug-content .expandable.click-parent > .kk-debug-heading:before {
	content: "-";
}

#kk-debug-content .key {
	font-weight: normal;
	font-style: normal;
	color: rgb(119, 42, 156);
}

#kk-debug-content .expandable.click-parent > .kk-debug-heading .key {
	font-weight: bold;
}

#kk-debug-content .value {
	font-weight: normal;
	margin-left: 5px;
	color: rgb(0, 85, 151);
}

#kk-debug-content .value a {
	color: inherit;
	text-decoration: none;
	border: none;
}

#kk-debug-content .value a:hover {
	text-decoration: underline;
}

#kk-debug-content .value.number {
	color: rgb(0, 85, 151);
}

#kk-debug-content .value.string {
	color: rgb(25, 90, 19);
}

#kk-debug-content .value.string:before, #kk-debug-content .value.string:after {
	content: '"';
}

#kk-debug-content .type {
	font-weight: normal;
	font-style: italic;
	opacity: 0.7;
}

#kk-debug-content ul {
	padding-left: 10px;
	border-left: 1px dashed #ccc;
	margin-left: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#kk-debug-list-wrapper {
	padding: 0;
	border: 0 none;
	margin: 0;
}

#kk-debug-content .kk-found-element {
	background: rgba(255, 0, 0, 0.1);
	border: 1px solid rgba(82, 17, 17, 0.19);
	border-radius: 2px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
	text-shadow: 0 1px 0 white;
	margin: 2px 0;
	padding: 0 5px;
	line-height: 16px;
}

#kk-debug-content .kk-found-element.value {
	color: rgb(162, 47, 47) !important;
}

.show-more {
	display: none;
}

.kk-found-parent.kk-debug-details.expandable > .kk-debug-heading .show-more {
	display: inline;
	margin-left: 5px;
	text-decoration: underline;
	font-weight: normal;
}

#kk-debug-content .kk-show-more-button {
	width: auto;
	cursor: pointer;
	font-weight: bold;
	padding: 0 9px;
	line-height: 19px;
	border: 1px solid rgb(214, 214, 214);
	border-radius: 2px;
	margin-left: 5px;
	color: #999;
}

#kk-debug-content .kk-show-more-button:hover {
	background: white;
	color: #000;
}

#kk-debug-content .kk-found-parent.kk-debug-details.expandable > .kk-debug-heading .kk-show-more-button {
	display: inline-block;
}

#kk-debug-search-results {
	display: inline-block;
	width: 0;
	white-space: nowrap;
	opacity: 0.5;
	text-align: left;
	font-size: 11px;
}

#kk-debug-content .kk-debug-section-heading {
	background: #eee;
	padding: 5px 10px;
	margin: 20px 0 10px 0;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	color: #444;
	font-size: 12px;
	cursor: pointer;
}

#kk-debug-content .toggle{
	font-family: monospace;
	text-decoration: none;
	padding-left: 5px;
	font-size: 1.3em;
}